<header id="site_header" class="header mobile-menu-hide">
    <ul class="main-menu">
        <li class="active">
            <a href="#home" class="nav-anim">
                <span class="menu-icon lnr lnr-home"></span>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li>
            <a href="#cursos" class="nav-anim">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">Cursos</span>
            </a>
        </li>
        <li>
            <a href="#disciplinas" class="nav-anim">
                <span class="menu-icon lnr lnr-graduation-hat"></span>
                <span class="link-text">Disciplinas</span>
            </a>
        </li>
        <li>
            <a href="#provas" class="nav-anim">
                <span class="menu-icon lnr lnr-briefcase"></span>
                <span class="link-text">Provas</span>
            </a>
        </li>
        <li>
            <a href="#enviar-provas" class="nav-anim">
                <span class="menu-icon lnr lnr-book"></span>
                <span class="link-text">Enviar Provas</span>
            </a>
        </li>
        <li>
            <a href="#contato" class="nav-anim">
                <span class="menu-icon lnr lnr-envelope"></span>
                <span class="link-text">Contato</span>
            </a>
        </li>
    </ul>
</header>


<!-- Mobile Navigation -->
<div class="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- End Mobile Navigation -->



<!-- Arrows Nav -->
<div class="lmpixels-arrows-nav">
    <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
    <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
</div>
<!-- End Arrows Nav -->


